@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  border-radius: 0px 22px 22px 0px;
}
.box {
  border-radius: 22px 0px 22px 0px;
}
.filt {
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
}
.filt1 {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.opt1 {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}
.opt2 {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}
.checkbox {
  -webkit-appearance: none;
}
.checkbox:checked {
  background: #7c5dfa;
}
.checkbox:checked::before {
  content: ''; /* Empty content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* Adjust size of check icon */
  height: 10px; /* Adjust size of check icon */
  background-image: url('/icon-check.svg'); /* Path to your check icon image */
  background-size: cover;
}
