@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  border-radius: 0px 22px 22px 0px;
}
.box {
  border-radius: 22px 0px 22px 0px;
}
.filt {
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
}
.filt1 {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.opt1 {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}
.opt2 {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}
.checkbox {
  -webkit-appearance: none;
}
.checkbox:checked {
  background: #7c5dfa;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
.checkbox:checked::before {
  content: ''; /* Empty content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* Adjust size of check icon */
  height: 10px; /* Adjust size of check icon */
  background-image: url('/icon-check.svg'); /* Path to your check icon image */
  background-size: cover;
}
.btm {
  border-radius: 0px 0px 8px 8px;
}
.top {
  border-radius: 8px 8px 0px 0px;
}

input[type='text'],
.inp {
  width: 100%;
  height: 48px;
  outline: none;
  padding-left: 20px;
  border-radius: 4px;
}
.drkMode {
  background: #1e2139;
  border: 1px solid #252945;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}
.drkMode:focus {
  border: 1px solid #7c5dfa;
}
.lgtMode {
  background: #fff;
  border: 1px solid #dfe3fa;
  color: var(--08, #0c0e16);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 100% */
  letter-spacing: -0.25px;
}
.lgtMode:focus {
  border: 1px solid #9277ff;
}
.addnewdrk {
}
